body {
    font-size: 28px;
}

a {
    color:#868e96;
}

a:hover {
    color:black;
    text-decoration: underline;
}

.nav-pills>li {
    border-left:1px solid #e9ecf0;
    border-right:1px solid #e9ecf0;
    background-color: #e9ecf0;
}

.nav-pills>.active {
    border-top:1px solid #444444;
}

.jumbotron{
    border-top:1px solid #f8f9fa;
    border-bottom:1px solid #b8b8b8;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.figure-caption {
    color:black;
    background-image: linear-gradient(#e9ecf0, #f8f9fa, #e9ecf0);
    border: 1px solid #e9ecf0;
    border-radius: 0;
}

.figure-caption-details {
    line-height : .4rem;
}

.img-thumbnail {
    padding: .75rem;
}