body{
    font-size: 38px;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.figure-caption{
    color:black;
    background-image: linear-gradient(#e9ecf0, #f8f9fa, #e9ecf0);
    border: 1px solid #e9ecf0;
    border-radius: 0;
}

.figure-caption-details{
    line-height : .4rem;
}

.img-thumbnail{
    padding: .75rem;
}